/* mini.css is excellent, but here are some small changes I'm making to its default colors
* Also adding css so the header works the way we want
*/
:root {
  --main-theme-color: #a26378;
}

body {
  background-color: rgb(27, 27, 27);
  color: white;
}

.input-form {
  color:white;
  font-size: 200%;
  padding-left: 2%
}

#make-heatmap-btn,
#get-zipcode-data-btn {
  background-color: rgb(255, 255, 255);
  box-shadow: 1cm;
  border-color: yellowgreen;
  border-width:10pt;
  color: rgb(7, 0, 0);
  font-size: 69%;
}
#chemical-name-selector:hover,
#chemical-year-selector:hover,
#zipcode-input:hover {
  border-color: var(--main-theme-color);
}

/* The colored border on the left side of the code blocks used to display
** chemical contamination values in the modal that pops up whe yu enter a zipcode 
*/
#zipcode-modal-body pre {
  border-left-color: var(--main-theme-color);
}

/* Header links */
header a.button {
  float: right;
}

/* Adds some space around the heatmap */
#right-column {
  padding: 0.5rem; /* matches mini.css's --universal-padding variable */
}

/* There are weird padding spaces within the infobox-container, 
** so this removes the main border and adds a replacement one 
** around the actual infobox */
#infobox-container {
  border: none;
}
#infobox {
  border-radius: 0.125rem; /* matches mini.css's --universal-border-radius variable */
}

#results {
  float: right;
  padding-right: 3%;
}

#results p{
  color: rgb(255, 255, 255);
  font-size: 200%;
}

#results a {
  color: rgb(177, 216, 100);
  font-size: 150%;
}

#results p {
  font-size: 200%;
}

#results img {
  width: 2.5%;
  height: auto;
}
